extends layout
block content
	div(class="col-lg-12 col-md-12 hidden-sm hidden-xs")
		div(class="col-lg-9 col-lg-offset-2")
			div(class="jumbotron" style="background-color:white;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
				article
					u
						h1 About us:
					br
					p 	Here at Candy Lease we are dedicated to providing the smoothest most elegant experience when searching and adding
						| listings online! Read more below!

					u
						h3 Searching for a listing
					
					ul
						li Candy provides the simplest solution to finding a listing that fits your rental search needs! 
						br
						li Contact the person who listed directly through our platform with a single click!
						br
						li Begin a conversation immediately and have all your questions answered as soon as possible!

					br
					a(href="/search")
						button(class="btn btn-default") Search Our Listings!
					

					u 

						h3 Adding a listing
					
					ul
						li Candy Lease is hands down the best place to add a listing and quickly begin getting potential tenants! 
						br
						li Adding a listing on Candy Lease takes no more than 30 seconds after answering only a handful of questions! 
						br
						li As soon as you've added a listing a page will be generated just for your listing and a link to it will be given to you!
						br
						li On your new listing page people can see your listing and then send you a message directly through the platform!
						br
						li People can now see your listing and interact with you on a convenience level no other platform can provide!
						br
						li We hope to see you see soon!..... 
					
					br
					a(href="/add-listing")
						button(class="btn btn-default") Add a new Listing!

	div(class="hidden-lg hidden-md col-sm-12 col-xs-12")
			br
			div(class="jumbotron" style="background-color:white;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
				article
					u
						h1 About us:
					br
					p 	Here at Candy Lease we are dedicated to providing the most elegant and simplistic software for finding a rental.
						| Our technology is fast, smooth and comfortable. Please follow us on our journey as we continue to add
						| to our platform and make finding a new place 
						b a little less bitter....