extends layout
block content
	div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
		div(class="col-lg-9 col-lg-offset-2")
			div(class="jumbotron" style="background-color:white;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
				article
					u
						h1 About us:
					br
					p 	Here at Candy Lease we are dedicated to providing the most elegant and simplistic software for finding a rental.
						| Our technology is fast, smooth and comfortable. Please follow us on our journey as we continue to add
						| to our platform and continue to make finding a new place 
						b a little less bitter....