extends layout
block content
	div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
		div(class="col-lg-9 col-lg-offset-2")
			div(class="jumbotron" style="background-color:white;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
				article
					u
						h1 Contact Us:
					br
					p 	If you would like to contact us feel free to contact us at the email below!
					p
						b Email: info@candylease.com 
