extends layout

block content
	div(class="col-lg-10 col-lg-offset-1 hidden-sm hidden-xs")
		div(class="jumbotron" style="background-color:pink;height:500px;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;" )
			center
				h2 Welcome to Candy Lease!
				quote Searching for a new place is a lot less bitter......
				br
				div(class="col-lg-4 col-lg-offset-1 hidden-sm hidden-xs" )
					div(class="thumbnail" style="background-color:pink;border-color:pink;")
						img(src="/logo_images/Candy-search-icon.png" style="height:150px;width:150px;")
						div(class="caption")
							p Check out our listings for your next new place!
							a(href="/search")
								button(class="btn btn-primary btn-lg") Search
				div(class="col-lg-2")
				div(class="col-lg-4")				
					div(class="thumbnail" style="background-color:pink;border-color:pink;")
						img(src="/logo_images/Candy-add-listing-icon.png" style="height:150px;width:150px;")
						div(class="caption")
							p Add to our wonderful listings with your own!
							a(href="/add-listing")
								button(class="btn btn-primary btn-lg") Add a new Listing
	div(class="hidden-lg hidden-md col-sm-12 col-xs-12")
		center
			h1 Welcome to Candy Lease!
			img(src="/logo_images/Candy_Lease_logo.png" style="height:150px;width:150px;")
			a(href="/search" class="btn btn-primary btn-lg btn-block") Search
				i(class="fa fa-search" style="padding-left:4px;")
			a(href="/add-listing" class="btn btn-primary btn-lg btn-block") Add A listing
				i(class="fa fa-home" style="padding-left:4px;")
		footer(class="footer")
			div(class="container")
				p				
					
	
						
			
