doctype html
htmL
	head
		title PadHunter
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/javascripts/bootstrap.js')
	body
		br
		div(class="container")
			h1(style="a:color{color:black;}") #[a(href="/" style="color:black;") Padhunter]
			br
			block content




