doctype html
htmL
	head
		title Candy Lease
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/javascripts/jquery-2.1.4.js')
		script(src='/javascripts/bootstrap.js')
	body(Style="background-image:url(/logo_images/Candy-wallpaper-1.jpg);")
		br
		div(class="container-fluid")
			nav(class="navbar navbar-inverse navbar-fixed-top")			
						a(class="navbar-brand" href="/") Candy Lease
						ul(class="nav navbar-nav")
							li(role="presentation")  
								a(href="/search") Search
							li(role="presentation")
								a(href="/Add-listing") Add to listing
			br
			br
			br
			block content




