doctype html
htmL
	meta(name="viewport" content="width=device-width, initial-scale=1")
	head
		title Candy Lease
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src='/javascripts/jquery-2.1.4.js')
		script(src='/javascripts/bootstrap.js')
		link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")

	body(Style="background-image:url(/logo_images/Candy-wallpaper-1.jpg);")
		br
		div(class="container-fluid")
			nav(class="navbar navbar-inverse navbar-fixed-top")			
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
							i(class="fa fa-bars" style="color:white;")
						a(class="navbar-brand" href="/") Candy Lease
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li(role="presentation")  
									a(href="/search") Search
										i(class="fa fa-search" style="Color:white;padding-left:4px;")
								li(role="presentation")
									a(href="/Add-listing") Add a listing
										i(class="fa fa-home" style="Color:white;padding-left:4px;")
							ul(class="nav navbar-nav navbar-right" style="padding-right:150px;")
								li(role="presentation")
									a(href="/contactus") Contact Us
								li(role="presentation")
									a(href="/aboutus") About Us


			br
			br
			block content




