extends layout

block content
	div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
		div(class="jumbotron" style="background-color:pink;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
			div(class="alert alert-success")
					center
						Strong
							Your Listing was successfully added!
			b(style="color:text;") An email has been sent!
			h4  This is the link to your listing below!
			h4	Share it with friends and family so people might see it!
			label(for="link") URL:
			form(method="POST" action="#")
				input(type="text" value="#{Listing_link}" name="city" class="form-control" required)