extends layout

block content
	div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
		div(class="jumbotron" style="background-color:pink;border-radius:30px;border-style:solid;border-color:skyblue;border-wdth:20px;")
			div(class="alert alert-success")
				center
					Strong
						Your Message Was Successfully Sent!
			center
				b
					h3 Feel free to continue your search and check out other places!
				br
				a(href="/search")
					button(class="btn btn-primary btn-lg") Search 
